<footer class="w-100 footer bg-dark py-3 mt-auto" style="z-index: 1">
  <div class="container">
    <div class="text-white text-end">© MFMS 2024</div>
    <!-- Changed text-start to text-end -->
  </div>
</footer>
